.Resume_Container {
  margin: 10px 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.Proficiency_Title {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.2rem;
}
ul {
  margin-bottom: 0;
  padding-bottom: 0;
}
